.horizonMenu {
  display: table;
  width: 100%;
  table-layout: fixed;

  &__item {
    display: table-cell;
  }
  &__item > a {
    display: block;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    background-color: #49E;
    font-weight: bold;
    color: #fff;
  }
}